*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
color:#fff;
min-height:100vh;
overflow-x:hidden;
background:#050816;
}

.bg,.bg2,.bg3{
position:fixed;
border-radius:50%;
filter:blur(120px);
z-index:-1;
animation:float 12s infinite ease-in-out;
}

.bg{
width:350px;
height:350px;
background:#7c3aed;
top:-100px;
left:-100px;
}

.bg2{
width:300px;
height:300px;
background:#06b6d4;
bottom:-100px;
right:-50px;
animation-delay:3s;
}

.bg3{
width:250px;
height:250px;
background:#f97316;
top:40%;
left:50%;
animation-delay:6s;
}

@keyframes float{
50%{
transform:translateY(50px) translateX(40px);
}
}

.container{
max-width:1200px;
margin:auto;
padding:20px;
}

.header{
text-align:center;
padding:20px;
}

.header h1{
font-size:3rem;
background:linear-gradient(90deg,#fff,#67e8f9,#c084fc);
-webkit-background-clip:text;
color:transparent;
}

.header p{
color:#cbd5e1;
}

.card{
background:rgba(255,255,255,.06);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.1);
border-radius:24px;
box-shadow:0 0 40px rgba(0,0,0,.2);
}

.hero{
padding:35px;
text-align:center;
margin-bottom:20px;
}

.balance{
font-size:3.5rem;
font-weight:800;
margin:10px 0;
}

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
margin-bottom:20px;
}

.stat{
padding:20px;
text-align:center;
}

.stat small{
color:#94a3b8;
}

.stat h3{
margin-top:8px;
font-size:1.7rem;
}

.layout{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
}

.panel{
padding:20px;
}

input,
select{
width:100%;
padding:13px;
background:#0f172a;
color:white;
border:1px solid #334155;
border-radius:14px;
margin-top:8px;
outline:none;
}

input:focus,
select:focus{
border-color:#06b6d4;
box-shadow:0 0 10px rgba(6,182,212,.3);
}

label{
display:block;
margin-top:12px;
}

button{
cursor:pointer;
border:none;
border-radius:14px;
padding:12px 16px;
font-weight:700;
transition:.3s;
}

.primary{
width:100%;
margin-top:15px;
background:linear-gradient(
135deg,
#06b6d4,
#8b5cf6
);
color:white;
}

.primary:hover{
transform:translateY(-2px);
box-shadow:0 0 20px rgba(139,92,246,.4);
}

.quick{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}

.quick button{
background:#1e293b;
color:white;
}

.quick button:hover{
background:#273449;
}

.search{
margin-bottom:12px;
}

.filters{
display:flex;
gap:10px;
margin-bottom:15px;
}

.filters button{
flex:1;
background:#172033;
color:white;
}

.filters button:hover{
background:#243044;
}

.list{
display:flex;
flex-direction:column;
gap:12px;
}

.item{
padding:15px;
border-radius:16px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,.05);
transition:.3s;
}

.item:hover{
background:rgba(255,255,255,.08);
}

.income{
border-left:5px solid #22c55e;
}

.expense{
border-left:5px solid #ef4444;
}

.green{
color:#22c55e;
font-weight:600;
}

.red{
color:#ef4444;
font-weight:600;
}